
<div class="center jumbotron" style="background-image: url('/assets/banner.jpg');background-size:cover">
  <h1 style="color: #ffffff">Welcome to the Yulp App</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", style:"background-color:  #B00100; border: none" %>
</div>
<html>
<%= render 'layouts/header' %>
<<<<<<< HEAD

<body>
  <div class="row">
    <div class="col-sm-3">
      <%= link_to 'Restaurants', restaurants_path, class: 'btn btn-block btn-primary' %>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
=======
<body>
  <div class="row">
    <div class="col-sm-3">
      <%= link_to 'Restaurants', restaurants_path, class: 'btn btn-block btn-primary' %>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>

>>>>>>> Aggregated Commit for Rest View

</body>
</html>
