
<div class="center jumbotron" style="background-image: url('/assets/banner.jpg');background-size:cover">
  <h1 style="color: #ffffff">Welcome to the Yulp App</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", style:"background-color:  #B00100; border: none" %>
</div>
<html>
<%= render 'layouts/header' %>

</body>
</html>
