
%hr
.row
  .col-lg-3
    %a{:href => new_user_preference_path(current_user), :class => 'btn btn-block btn-success', :id => 'button-create'} Create New
    =link_to('Delete Preference',
             destroy_all_user_preferences_path(current_user),
             method: :post, class: 'btn btn-block btn-danger', id: 'button-delete')
    %a{:href => '/', :class => 'btn btn-block btn-warning', :id => 'button-search'} Move To Search Page
    %a{:href => user_path(current_user), :class => 'btn btn-block btn-primary', :id => 'back'} Back To Profile
  .col-lg-9
