<%= javascript_include_tag 'preferences/index' %>

<% provide(:title, 'Edit Your Preferences') %>
<h1>Your Preference</h1>

<%= render :partial => 'preference_table', :locals => { :preference => @preference }   %>
<%= render :partial => 'preference_button_groups' %>
