<%= javascript_include_tag 'preferences/new' %>
<div class="RegForm">
  <% provide(:title, 'User Preferences') %>
  <h1>Create Your Preference</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'new_preference_form' %>
    </div>
  </div>
</div>