
%hr
.row
  .col-lg-6
    %a{:href => user_preferences_path(current_user.id), :class => 'btn btn-block btn-primary'} Preferences
    %a{:href => restaurants_path, :class => 'btn btn-block btn-success'} Restaurants
    %a{:href => search_restaurants_path, :class => 'btn btn-block btn-success'} Restaurant Search
  .col-lg-6