#preference_restaurants_per_page{
  width:70px;
}

// Improve radio layout
input[type="radio"] {
  margin-right: 6px;
  vertical-align: text-bottom;
}

.Important {
  background-color: #ff3025;
}
.Don\'t-Mind {
  background-color: #3dff33;
}
.Not-Important {
  background-color: #ffff36;
}
.hide {
  display: none;
}
