
// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Open Sans", Arial;
  background-image: url("background.jpeg");
  background-attachment: fixed;
  background-size:cover;
  color: white;
}
main {
  background: #EEE;
  margin: 20px auto;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
h2 {
  text-align: left;
  font-size: 200%;
  color: #B00100;
}
h4{
  text-align: left;
  color: #000000;
  font-size: 100%;
}
p {
  padding: 20%;
  font-size: 13px;
  color: #000000;
}

.RegForm{
  height: auto;
  width: auto;
  padding: 5%;
  position: relative;
  background: #ffffff;
  border-radius: 15px; /* Rounded corners */
  margin: 5px auto;
  color: black;
}

.ResTitle{
  height: auto;
  width: 80%;
  position: relative;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 15px; /* Rounded corners */
  margin: 5px auto;
  color: black;
}

.ResTitle:hover{
  opacity: 1.0;
  width: 85%;
}
.map{
  position: absolute;
  margin-left: 15%;
}

input[type=text] {
  width: 50%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */



.mybtn:after {
  bottom: 5%;
  font-family: "Glyphicons Halflings";
  color: #B00100;
  content: "\e113" ;

}
/* Icon when the collapsible content is hidden */
.mybtn.collapsed:after {
  color: #B00100;
  content: "\e114";
}
.mybtn{
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  margin-top: 2%;
}

.displaygraph{
  position: absolute;
  right: 5%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.reviews{
  position: relative;
  margin-left: 7%;
  margin-bottom: 10%;
  width: 320px;

}
.reviewcontainer{
  width: 320px;
  height: 300px;
  overflow: scroll;
}

.footerBtn{
  position: fixed;
  bottom: 30px; /* Place the button at the bottom of the page */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  background-color: red; /* Set a background color */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: white; /* Text color */

}
.scrlBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}
.checked {
  color: orange;
}
.scrlBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.detail_section{
  height: 350px;
  margin-left: 10%;
}

.search{
  height: 20%;
  text-align: center;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.img-fluid {
  max-width:100%;height:auto
}

.d-block {
  display:block!important
}

.badge-danger {
  background-color:#d9534f

}

