-if current_page?(action: 'search')
  =link_to('Aggregated View',
            search_aggregated_restaurants_path(:search => params[:search], :page => params[:page]), :class => 'btn btn-primary')
-else
  =link_to('Aggregated View',
            aggregated_restaurants_path(:page => params[:page]), :class => 'btn btn-primary')

=link_to('Back to Profile',
            user_path(current_user), :class => 'btn btn-primary')