
.row
  .col-sm-8
    .dummy{:id => "pre_#{@preference['restaurant_per_page']}"}
    = will_paginate(@restaurant, :style => 'color:red')
    .footerBtn
      =render :partial => 'modal_feedback_button'
      =render :partial => 'aggregated_link_button'
%button.scrlBtn Top
