<div class="detail_section">
  <h3>Other Details</h3>
  <% if @preference['discount'] %>
    Discount : <%= restaurant[:discount] %><br/>
  <% end %>
  <% if @preference['popular'] %>
    Popular times: <%= restaurant[:popular_times] %>
  <% end %>
  <br>lol
</div>