<div class="detail_section">
  <% if @preference['discount'] %>
    Discount : <%= restaurant[:discount] %><br/>
  <% end %>
  <% if @preference['popular'] %>
    Popular times:
       <%= column_chart(get_popular_time(restaurant), download: true, height: '270px', width: '75%') %>
  <% end %>
</div>