<% if rating >= 1 %>
    <span class="fa fa-star checked"></span>
<% else %>
    <span class="fa fa-star"></span>
<% end %>
<% if rating >= 2 %>
    <span class="fa fa-star checked"></span>
<% else %>
    <span class="fa fa-star"></span>
<% end %>
<% if rating >= 3 %>
    <span class="fa fa-star checked"></span>
<% else %>
    <span class="fa fa-star"></span>
<% end %>
<% if rating >= 4 %>
    <span class="fa fa-star checked"></span>
<% else %>
    <span class="fa fa-star"></span>
<% end %>
<% if rating >= 5 %>
    <span class="fa fa-star checked"></span>
<% else %>
    <span class="fa fa-star"></span>
<% end %>